<?xml version="1.0" encoding="utf-8" ?>

<!-- This is the base configuration that should be copied and adjusted to any application using this Logging DLL. Do NOT set to copy this file to the output directory as it may replace any local config file. -->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwConfigExceptions="true" 
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <targets>

    <!-- An internal log used for keeping record of errors, warnings, traces, infos, etc. -->
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/nLog.csv" archiveAboveSize="50000000" archiveNumbering="Sequence" maxArchiveFiles="3">
      <!-- Maximum file size: 50mB, maximum archive files: 3 -->
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}"/>
        <column name="category" layout="${event-context:item=category}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:innerExceptionSeparator=-->:format=tostring}" />
        <column name="codeLine" layout="${event-context:item=codeLine}" />
      </layout>
    </target>

     <!-- An internal user-friendly log used for keeping record of messages  -->
    <target name="userLogfile" xsi:type="File" fileName="${basedir}/Logs/nUserLog.csv" archiveAboveSize="50000000" archiveNumbering="Sequence" maxArchiveFiles="3">
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="category" layout="${event-context:item=category}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:innerExceptionSeparator=-->:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="logfile" minlevel="Trace" writeTo="logfile" />
    <logger name="userLogfile" minlevel="Info" writeTo="userLogfile" />
  </rules>
</nlog>