<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDataExchangeService">
                    <security mode="None" />
                </binding>
                <binding name="DB_unsecured">
                    <security mode="None" />
                </binding>
                <binding name="DB_msgAnonymousSecured">
                    <security>
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/SimulatorWcfServices/DataExchangeService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataExchangeService"
                contract="DataExchangeServiceReference.IDataExchangeService"
                name="WSHttpBinding_IDataExchangeService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/DataStore/DatabaseServices/"
                binding="wsHttpBinding" bindingConfiguration="DB_unsecured"
                contract="ServiceReference_DataStore.IDataStoreServices" name="DB_unsecured" />
            <endpoint address="http://localhost:8733/DataStore/DatabaseServices/Secure"
                binding="wsHttpBinding" bindingConfiguration="DB_msgAnonymousSecured"
                contract="ServiceReference_DataStore.IDataStoreServices" name="DB_msgAnonymousSecured">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAAwfY0ncXmYzgHsz867X3N4Q5kqwgAAAAAQAAABICAAAwggIOMIIBd6ADAgECAhByuAGzSzvPmEdkfArwuiwYMA0GCSqGSIb3DQEBBAUAMBwxGjAYBgNVBAMTEUNvbXBhbnlYWVogU2VydmVyMB4XDTA2MTIzMTIyMDAwMFoXDTA5MTIzMTIyMDAwMFowHDEaMBgGA1UEAxMRQ29tcGFueVhZWiBTZXJ2ZXIwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALLarFS61iOKmWrKQQpNIeiZRYAzc0SdzA49fWCZrd0Nfm4msUwnlfeQPTgQaZgQYlENTTcvC6gfzWcHl+MtiGFwgh+DCBoSJKADT8MvoQSoiSpDVXYAjNRMvY+d3qRfsSoUSZsKVBHX/DHoSnnQzff1bZDWFDgNfXIMbOskUD3nAgMBAAGjUTBPME0GA1UdAQRGMESAEP0oMSMx9ntey38U4bxjpvGhHjAcMRowGAYDVQQDExFDb21wYW55WFlaIFNlcnZlcoIQcrgBs0s7z5hHZHwK8LosGDANBgkqhkiG9w0BAQQFAAOBgQAz0sHzO2FF0L9eSzE8zQFKhpyS08fPxXhhFZ2wThBBClMN0WwFe1QNaZmmtm3oxKoqHkHoYLzPZ+4rYN8OHdMzi8/yDORIZkYDGYZemDqPT7EijbcLD+ewfnT2sw6K2nsLa73ypUEcKs2AVuo91RqKjSrlh2fQ396K1LitIB0iRQ==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
